In [264]:
import pandas as pd
from datetime import datetime, timedelta
from random import randrange

In [265]:
#get the current stock prices of some companies on 25/01/2025

companies_price = {
                    'NVDA': {'current_price':143},
                    'AAPL': {'current_price':223},
                    'MSFT': {'current_price':444},
                    'AMZN': {'current_price':234},
                    'GOOGL': {'current_price':200},
                    'META': {'current_price':647},
                    'TSLA': {'current_price':407},
                    'WMT': {'current_price':95},
                    'JPM': {'current_price':265},
                    'V': {'current_price':330},
                    'ORCL': {'current_price':184},
                    'MA': {'current_price':490},
                    'XOM': {'current_price':109},
                    'NFLX': {'current_price':978},
                    'PG': {'current_price':164},
                    'SAP': {'current_price':276}
                    }

In [266]:
#create a min and max price for each current price by adding and removing 10% from the current price

for k in companies_price:
    companies_price[k]['min_price'] = int(companies_price[k]['current_price'] * 0.9)
    companies_price[k]['max_price'] = int(companies_price[k]['current_price'] * 1.1)

In [267]:
#generate a random closing pricing between the min and the max prices

for k in companies_price:
    min_price = companies_price[k]['min_price']
    max_price = companies_price[k]['max_price']
    companies_price[k]['current_price'] = randrange(min_price, max_price)

In [268]:
#delete the keys min_price, max_price and current_price since they're not needed anymore

for k in companies_price:
    del companies_price[k]['min_price'] 
    del companies_price[k]['max_price']

In [269]:
df = pd.DataFrame.from_dict(companies_price, orient='index')
df.reset_index(inplace = True)
df.rename(columns={'index': 'company'}, inplace = True)

In [270]:
df

   company  current_price
0     AAPL            216
1     AMZN            214
2    GOOGL            211
3      JPM            288
4       MA            510
5     META            691
6     MSFT            472
7     NFLX            897
8     NVDA            141
9     ORCL            172
10      PG            150
11     SAP            280
12    TSLA            431
13       V            353
14     WMT            100
15     XOM            116