**Purpose**

This jupter notebok file generates  stock market prices dataframes with the following columns:

company- The company code

stock_price- The stock closing price of the company at the time the script runs

This jupyter notebook acts as the data source used for stream processing

In [2]:
import pandas as pd
from datetime import datetime, timedelta
from random import randrange

D:\Anaconda\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
#get the current stock prices of some companies on 25/01/2025

companies_price = {
                    'NVDA': {'current_price':143},
                    'AAPL': {'current_price':223},
                    'MSFT': {'current_price':444},
                    'AMZN': {'current_price':234},
                    'GOOGL': {'current_price':200},
                    'META': {'current_price':647},
                    'TSLA': {'current_price':407},
                    'WMT': {'current_price':95},
                    'JPM': {'current_price':265},
                    'V': {'current_price':330},
                    'ORCL': {'current_price':184},
                    'MA': {'current_price':490},
                    'XOM': {'current_price':109},
                    'NFLX': {'current_price':978},
                    'PG': {'current_price':164},
                    'SAP': {'current_price':276}
                    }

In [4]:
#create a min and max price for each current price by adding and removing 10% from the current price

for k in companies_price:
    companies_price[k]['min_price'] = int(companies_price[k]['current_price'] * 0.9)
    companies_price[k]['max_price'] = int(companies_price[k]['current_price'] * 1.1)

In [5]:
#generate a random closing pricing between the min and the max prices

for k in companies_price:
    min_price = companies_price[k]['min_price']
    max_price = companies_price[k]['max_price']
    companies_price[k]['current_price'] = randrange(min_price, max_price)

In [6]:
#delete the keys min_price, max_price and current_price since they're not needed anymore

for k in companies_price:
    del companies_price[k]['min_price'] 
    del companies_price[k]['max_price']

In [8]:
df = pd.DataFrame.from_dict(companies_price, orient='index')
df.reset_index(inplace = True)
df.rename(columns={'index': 'company'}, inplace = True)
df['current_timestmap'] = datetime.today()

In [9]:
df

   company  current_price          current_timestmap
0     AAPL            237 2025-04-18 19:27:05.526499
1     AMZN            249 2025-04-18 19:27:05.526499
2    GOOGL            193 2025-04-18 19:27:05.526499
3      JPM            286 2025-04-18 19:27:05.526499
4       MA            465 2025-04-18 19:27:05.526499
5     META            707 2025-04-18 19:27:05.526499
6     MSFT            451 2025-04-18 19:27:05.526499
7     NFLX           1043 2025-04-18 19:27:05.526499
8     NVDA            146 2025-04-18 19:27:05.526499
9     ORCL            169 2025-04-18 19:27:05.526499
10      PG            165 2025-04-18 19:27:05.526499
11     SAP            252 2025-04-18 19:27:05.526499
12    TSLA            444 2025-04-18 19:27:05.526499
13       V            298 2025-04-18 19:27:05.526499
14     WMT             97 2025-04-18 19:27:05.526499
15     XOM            103 2025-04-18 19:27:05.526499